html{
    font-family: Quicksand, 'Times New Roman', Times, serif ;
}

body{
    margin: 0;
    background-image: url("ClaireFundoPG1.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

header a {
    color: black;
    
}
header{    
    margin: 2vw 5vw;
    background-color: transparent; /* Agora a imagem aparece atrás */
}
header h1{
    font-size: 1.5rem;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    gap: 10px;
}


.Ela{
    padding: 40px 0;
}

.Ela h1{
    font-size: 2.25rem;
    text-align: center;
}

.Ela div{
    background: #7602b5;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 900px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.Ela h2{
    font-size: 2rem;
}

.Ela p{
    font-size: 1.5rem;
    padding:10px 0;
}

.Ela a{
    background: rgb(183, 82, 238);
    font-size: 1.15rem;
    color: black;
    padding: 4px 8px;
    border-radius: 5px;
}


footer{
    width: 100%;
    background-color: rgb(1, 1, 136);
    padding: 20px 0;
    
}

footer a, footer p{
    color: white;
    margin-left: 2vw;
}
.pg2{
    background-image: url(ClaireGata.png);
}
.howMHer h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5vw;
}
.howMHer div{
    background-color: orange;
    margin: 0 7vw 0 7vw;
    padding: 10px;
    border-radius: 10px;
}
.howMHer p{
    font-size: 1.5rem;
    margin-bottom:15px;
}
.howMHer a{
    background-color: mediumpurple;
    color: black;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 3px;
}
.howeTalk div{
    background-color:blue ;
    margin: 2vw 5vw 2vw 5vw;
    padding: 10px;
    border-radius: 10px;
}

.howeTalk h1, .howeTalk div p{
    text-align: center;
    color: white;
    
}
.howeTalk h1{
    font-size: 2rem;
}
.howeTalk p{
    font-size: 1.25rem;
    padding: 10px;
}